In [1]:
import pandas as pd
import numpy as np

In [2]:
#Set display options to see the DataFrame line entirely
pd.set_option('display.max_colwidth', -1)

C:\Users\sever\AppData\Local\Temp/ipykernel_12164/401940541.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [33]:
#import Datasets
old_objects = pd.read_excel('Data/Objects.xlsx')
old_thief = pd.read_excel('Data/Thief.xlsx')
old_TM = pd.read_excel('Data/TM.xlsx')
old_HM = pd.read_csv('Data/HM.txt', sep='\t')
old_ground = pd.read_csv('Data/PoClo Ground Items 1.2.txt', sep=':')
old_trades = pd.read_csv('Data/in-game-trades.txt', sep='\t')

# Functions

In [4]:
def process(data, cat="None", location_index=-1, item_index=-1):
    data["List_info"] = ""
    for i in range(data.shape[0]):
        if str(data.iloc[i, 0]) == 'nan': data.iloc[i, 0] = data.iloc[i-1, 0]
        data.iloc[i, data.shape[1]-1] = str(data.iloc[i, item_index]) + ": "
        indexes = [i for i in range(data.shape[1]-1) if i != location_index and i != item_index]
        if cat == 'Trades':
            data.iloc[i, data.shape[1]-1] = f'[{data.iloc[i,0]} / '+f'Nature: {data.iloc[i,1]} / '+f'Ability: {data.iloc[i,2]} / '+f'Held item: {data.iloc[i,3]} / '+f'Dresser: {data.iloc[i,4]} / '+f'ID: {data.iloc[i,5]}\n'+f'   Give: {data.iloc[i,6]}]'
        else:
            for j in indexes:
                add = str(data.iloc[i, j])
                data.iloc[i, data.shape[1]-1] += add+", " if add != 'nan' else ""
            data.iloc[i, data.shape[1]-1] = "["+str(data.iloc[i, data.shape[1]-1])[:-2]+"]"
    data = data.groupby(data.columns[location_index])["List_info"].apply(list).reset_index(name="List_info")
    data.columns=["Location","Desc"]
    data["Cat"] = cat
    data = data.iloc[:,[0,2,1]]
    return data

In [5]:
def clean(data):
    for column in data.columns:
        # 
        data[column] = data[column].apply(lambda x: str(x).replace(')',''))
        data[column] = data[column].apply(lambda x: str(x).replace(' (',' | '))
        data[column] = data[column].apply(lambda x: str(x).strip())
    return data

# Objects

In [6]:
#check data shape
old_objects.sort_values('Location 1').head()

,Held item,Location 1,Location 2,Location 3,Location 4,Location 5
4,Macho Brace,Actuvit City,NaN,NaN,lifter),NaN
1,Amulet Coin,Animango City,building beside Pokémon Center,2F,stoner),NaN
30,Eviolite,Animango City,Hornigiri building,4F,neckbeard),NaN
32,Rocky Helmet,Beehive City,Karma Sub HQ's exit,NaN,NaN,NaN
48,Lax Incense,Beehive City,NaN,NaN,inebriated man),NaN

In [7]:
#clean data
objects = clean(old_objects)
objects.sort_values('Location 1').head()

,Held item,Location 1,Location 2,Location 3,Location 4,Location 5
4,Macho Brace,Actuvit City,nan,nan,lifter,nan
1,Amulet Coin,Animango City,building beside Pokémon Center,2F,stoner,nan
30,Eviolite,Animango City,Hornigiri building,4F,neckbeard,nan
48,Lax Incense,Beehive City,nan,nan,inebriated man,nan
32,Rocky Helmet,Beehive City,Karma Sub HQ's exit,nan,nan,nan

In [8]:
# Magic
location_index = 1
item_index = 0
cat = "Find"
objects = process(objects, cat, location_index=location_index, item_index=item_index)
objects.head()

,Location,Cat,Desc
0,Actuvit City,Find,[[Macho Brace: lifter]]
1,Animango City,Find,"[[Amulet Coin: building beside Pokémon Center, 2F, stoner], [Eviolite: Hornigiri building, 4F, neckbeard]]"
2,Beehive City,Find,"[[Rocky Helmet: Karma Sub HQ's exit], [Lax Incense: inebriated man]]"
3,Blacksmith Manor,Find,[[Choice Specs: post-game]]
4,Catalina Range,Find,"[[Razor Claw: route master], [Scope Lens: route master]]"

# TM

In [9]:
old_TM.head()

,TM,Move,Location.1,Location.2,Location.3,Location.4
0,TM01,Focus Punch,Victory Road,3F,East in the lowest level,NaN
1,TM02,Dragon Claw,Safari Zone,Area 1,southeast corner (requires Surf),NaN
2,TM03,Water Pulse,Actuvit Gym,Tumblrita,NaN,NaN
3,TM04,Calm Mind,Beehive Gym,Freddie,NaN,NaN
4,TM05,Roar,Ruse Cruise 1,in the first room from left,NaN,NaN

In [10]:
#clean data
TM = clean(old_TM)
TM.head()

,TM,Move,Location.1,Location.2,Location.3,Location.4
0,TM01,Focus Punch,Victory Road,3F,East in the lowest level,nan
1,TM02,Dragon Claw,Safari Zone,Area 1,southeast corner | requires Surf,nan
2,TM03,Water Pulse,Actuvit Gym,Tumblrita,nan,nan
3,TM04,Calm Mind,Beehive Gym,Freddie,nan,nan
4,TM05,Roar,Ruse Cruise 1,in the first room from left,nan,nan

In [11]:
# Magic
location_index = 2
item_index = 0
cat = "TM/HM"
TM = process(TM, cat, location_index=location_index, item_index=item_index)
TM.head()

,Location,Cat,Desc
0,Actuvit City,TM/HM,"[[TM08: Bulk Up, lifter in western house]]"
1,Actuvit Gym,TM/HM,"[[TM03: Water Pulse, Tumblrita]]"
2,Animango City,TM/HM,"[[TM10: Hidden Power, Game Corner], [TM13: Ice Beam, Game Corner], [TM16: Light Screen, scientist in west-most building], [TM24: Thunderbolt, Game Corner], [TM27: Return, Animango Otototel, 4F, old man], [TM35: Flamethrower, Game Corner]]"
3,Animango Gym,TM/HM,"[[TM19: Giga Drain, Snoop]]"
4,Battle Channel,TM/HM,"[[TM36: Sludge Bomb, southern coast | requires Surf]]"

# HM

In [12]:
HM = old_HM.drop("Type", axis=1)
HM.head()

     HM      Move        Location                   Location 2   Location 3
0  HM01  Cut       Singles Island  Captain Cut                  NaN
1  HM02  Fly       Beehive city    Flight School                Captain Cut
2  HM03  Surf      Esfores City    Rival                        NaN
3  HM04  Strength  Victory Road    Guardian                     NaN
4  HM05  Flash     Gadech City     old man southeast of museum  NaN

In [13]:
#clean data
HM = clean(HM)
HM.head()

     HM      Move        Location                   Location 2   Location 3
0  HM01  Cut       Singles Island  Captain Cut                  nan
1  HM02  Fly       Beehive city    Flight School                Captain Cut
2  HM03  Surf      Esfores City    Rival                        nan
3  HM04  Strength  Victory Road    Guardian                     nan
4  HM05  Flash     Gadech City     old man southeast of museum  nan

In [14]:
# Magic
location_index = 2
item_index = 0
cat = "TM/HM"
HM = process(HM, cat, location_index=location_index, item_index=item_index)
HM.head()

              Location    Cat                                           Desc
0  Beehive city         TM/HM  [[HM02: Fly, Flight School, Captain Cut]]
1  Esfores City         TM/HM  [[HM03: Surf, Rival]]
2  Gadech City          TM/HM  [[HM05: Flash, old man southeast of museum]]
3  Mt. Clover           TM/HM  [[HM08: Rock Climb, Nomel]]
4  Safari Zone, Area 3  TM/HM  [[HM06: Rock Smash, some dude in rest house]]

# Thief

In [15]:
old_thief.head()

                                         Thief Locations
0  Route 5:
1  Pokémon Ranger Artyom: Charagon (Lv 25) @ Salac Berry
2  Route 6:
3  Feminist Lilith: Fishnism (F) (Lv 24) @ Mental Herb
4  Stoner Wayne: Furnazi (M) (Lv 24) @ Sitrus Berry

In [16]:
thief = pd.DataFrame()

In [17]:
# Change data formatting
loca=""
for i in range(old_thief.shape[0]):
    line = str(old_thief.iloc[i, 0])
    if line.count("@") > 0:
        dresser = line[:line.index(":")]
        Pokemon = line[line.index(":")+2:line.index("@")-1]
        Item = line[line.index("@")+2:]
        new = [loca, dresser, Pokemon, Item]
        thief = thief.append(pd.Series(new), ignore_index=True)
    else:
        loca = line[:-1]  
thief.head()

         0                      1                       2             3
0  Route 5  Pokémon Ranger Artyom  Charagon (Lv 25)        Salac Berry
1  Route 6  Feminist Lilith        Fishnism (F) (Lv 24)    Mental Herb
2  Route 6  Stoner Wayne           Furnazi (M) (Lv 24)     Sitrus Berry
3  Route 6  Stoner Wayne           Bongecko (M) (Lv 25)    Leftovers
4  Route 7  Lifter Chad            Muscledude (M) (Lv 26)  Choice Band

In [18]:
#clean data
thief = clean(thief)
thief.head()

         0                      1                       2             3
0  Route 5  Pokémon Ranger Artyom  Charagon | Lv 25        Salac Berry
1  Route 6  Feminist Lilith        Fishnism | F | Lv 24    Mental Herb
2  Route 6  Stoner Wayne           Furnazi | M | Lv 24     Sitrus Berry
3  Route 6  Stoner Wayne           Bongecko | M | Lv 25    Leftovers
4  Route 7  Lifter Chad            Muscledude | M | Lv 26  Choice Band

In [19]:
# Magic
location_index = 0
item_index = 3
cat = "Steal"
thief = process(thief, cat, location_index=location_index, item_index=item_index)
thief.head()

,Location,Cat,Desc
0,Bateman Channel,Steal,"[[Eviolite: Tuber Liz, Ricosheep | F | Lv X], [Eviolite: Tuber Liz, Kekroach | F | Lv X], [Eviolite: Tuber Liz, Praunch | F | Lv X], [Eviolite: Tuber Meduka, Chezetta | F | Lv X-3], [Eviolite: Channeler Chanel, Singlets | Lv 65], [Eviolite: Channeler Chanel, Flowre | F | Lv X-3], [Eviolite: Channeler Chanel, Dubus | Lv 66]]"
1,Beehive City,Steal,"[[Nugget: Merchant Rosenberg, Chompest | M | Lv 40], [Nugget: Merchant Abraham, Chantruth | M | Lv 44]]"
2,Catalina Range,Steal,"[[Eviolite: Fisherman Benny, Randomix | M | Lv X], [Eviolite: Fucking Communist, Missletoe | M | Lv X-3], [Eviolite: Bird Keeper Pixy, Pixila | F | Lv X+2], [Nugget: Merchant Moishe, Vaultevour | M | Lv X-1], [Toxic Orb: Bouncer Token, Ebolable | M | Lv X-4], [Poké Ball: Bouncer Token, Vandash | M | Lv X]]"
3,Clemente Range,Steal,"[[Chople Berry: Private Cliffe, Cannonance | M | Lv X], [Eviolite: Private Cliffe, Triggedon | M | Lv X-5]]"
4,Cratered Point,Steal,"[[Lucky Egg: Lifter Gaston, Chancer | F | Lv X-4]]"

# Ground objects

In [34]:
old_ground.head()

              Location         Item
0  1,0    Vitlya Woods  NaN
1  \tB  11,  21          Potion
2  \tB  11,  45          Poké Ball
3  \tB  25,  52          Antidote
4  \tB  48,  58          Potion

In [35]:
# Change data formatting
old_ground["State"] = ""
old_ground["Coordinates"] = ""
ground = pd.DataFrame()
old_ground = old_ground.iloc[:,[0,2,3,1]]
loca = ""
for i in range(old_ground.shape[0]):
    line = str(old_ground.iloc[i, 0])
    line = line.replace("\t","")
    line = line.replace(","," ")
    line = line.split(" ")[:]
    line = [i for i in line if i != "" and i != " "]
    if str(old_ground.iloc[i,3]) == 'nan': 
        loca = ' '.join(line[2:]) 
    else:
        new = [loca, line[0], line[1:], old_ground.iloc[i,3]]
        ground = ground.append(pd.Series(new), ignore_index=True)
ground.head()

              0  1         2            3
0  Vitlya Woods  B  [11, 21]   Potion
1  Vitlya Woods  B  [11, 45]   Poké Ball
2  Vitlya Woods  B  [25, 52]   Antidote
3  Vitlya Woods  B  [48, 58]   Potion
4  Vitlya Woods  H  [50, 45]   Antidote

In [36]:
ground = ground.sort_values([ground.columns[0],ground.columns[1]])

In [37]:
#clean data
ground = clean(ground)
ground.head()

                0  1             2             3
209  Actuvit City  B  ['8', '9']    Super Potion
511  Actuvit City  B  ['8', '2']    HP Up
512  Actuvit City  B  ['2', '3']    Dive Ball
210  Actuvit City  H  ['16', '25']  Rare Candy
172  Admin Woods   B  ['63', '29']  Rare Candy

In [38]:
# Magic
location_index = 0
item_index = 1
cat = "Find"
ground = process(ground, cat, location_index=location_index, item_index=item_index)
ground.head()

,Location,Cat,Desc
0,Actuvit City,Find,"[[B: ['8', '9'], Super Potion], [B: ['8', '2'], HP Up], [B: ['2', '3'], Dive Ball], [H: ['16', '25'], Rare Candy]]"
1,Admin Woods,Find,"[[B: ['63', '29'], Rare Candy], [B: ['16', '31'], HP Up], [B: ['81', '5'], Dusk Ball], [B: ['87', '28'], PP Up], [B: ['72', '25'], Max Potion], [B: ['88', '46'], Moon Stone], [B: ['40', '14'], Energy Root], [B: ['2', '7'], Iron], [B: ['16', '10'], HP Up], [H: ['77', '41'], Yellow Shard], [H: ['6', '17'], Big Mushroom]]"
2,Anacapa Lighthouse,Find,"[[B: ['8', '4'], Lemonade], [B: ['4', '3'], Escape Rope]]"
3,Animango City,Find,"[[B: ['1', '11'], Dire Hit], [B: ['2', '3'], Rasta Ball], [B: ['2', '23'], Nugget], [B: ['24', '9'], Moon Stone], [B: ['12', '23'], Max Ether], [B: ['28', '23'], Rude Ball], [B: ['2', '3'], PP Max], [B: ['26', '4'], Dusk Ball], [B: ['11', '4'], Card Key], [B: ['2', '12'], Barbed Ball], [B: ['0', '18'], Rare Candy], [B: ['2', '23'], Nugget], [B: ['24', '9'], Moon Stone], [B: ['3', '18'], Itemfinder], [H: ['3', '8'], ????????], [H: ['9', '13'], ????????], [H: ['0', '13'], ????????], [H: ['9', '8'], ????????], [H: ['2', '4'], ????????], [H: ['5', '11'], ????????], [H: ['14', '5'], ????????], [H: ['11', '19'], Repeat Ball], [H: ['29', '4'], Ice Heal], [H: ['10', '3'], PP Max], [H: ['4', '11'], Stardust], [H: ['20', '4'], Repel], [H: ['18', '3'], Burn Heal], [H: ['3', '14'], Ether], [H: ['16', '3'], Burn Heal], [H: ['25', '2'], Timer Ball], [H: ['59', '5'], Soda Pop], [H: ['38', '2'], Hyper Potion], [H: ['2', '5'], Energy Root]]"
4,Bateman Channel,Find,"[[B: ['26', '10'], HP Up], [B: ['107', '10'], Big Pearl], [H: ['12', '17'], Max Ether]]"

# Trades

In [39]:
old_trades.head()

,Receive,Gender,HP,Atk,Def,Spe,SpA,SpD,Nature,Ability,Held item,OT,ID,Give,Location
0,Elephas Pajeet,F,20,15,17,24,23,22,Lax,Telepathy,-,Gavin (M),1505,Middril,Animango City
1,Bongecko Munchies,M,18,17,18,22,25,21,Quirky,White Smoke,Weed,Seth (M),30863,Bacub,Beehive City
2,Wastenaut Garbage,F,20,16,14,7,12,30,Modest,Battle Armor,Mental Herb,Hazel (M),22051,Polossus,Outcast Island
3,Flowre Rusemaster,F,31,21,17,19,25,22,Jolly,Levitate,Masta Ball,Bideo (M),1831,Knogoat,Esfores City
4,Praunch Crocker,F,9,26,19,14,15,16,Naïve,Swift Swim,Salac Berry,Squatz (M),16402,Gutsifly,Gadech City

In [40]:
old_trades["Receive"] = old_trades["Receive"].apply(lambda x: x.split()[0])
indexes = np.r_[0:1,8:12,12:15]
trades = old_trades.iloc[:,indexes]
trades.head()

,Receive,Nature,Ability,Held item,OT,ID,Give,Location
0,Elephas,Lax,Telepathy,-,Gavin (M),1505,Middril,Animango City
1,Bongecko,Quirky,White Smoke,Weed,Seth (M),30863,Bacub,Beehive City
2,Wastenaut,Modest,Battle Armor,Mental Herb,Hazel (M),22051,Polossus,Outcast Island
3,Flowre,Jolly,Levitate,Masta Ball,Bideo (M),1831,Knogoat,Esfores City
4,Praunch,Naïve,Swift Swim,Salac Berry,Squatz (M),16402,Gutsifly,Gadech City

In [41]:
#clean data
trades = clean(trades)
trades.head()

C:\Users\sever\AppData\Local\Temp/ipykernel_12164/1499868669.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column] = data[column].apply(lambda x: str(x).replace(')',''))
C:\Users\sever\AppData\Local\Temp/ipykernel_12164/1499868669.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column] = data[column].apply(lambda x: str(x).replace(' (',' | '))
C:\Users\sever\AppData\Local\Temp/ipykernel_12164/1499868669.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column] = data[column].apply(lambda x: str(x).strip())

,Receive,Nature,Ability,Held item,OT,ID,Give,Location
0,Elephas,Lax,Telepathy,-,Gavin | M,1505,Middril,Animango City
1,Bongecko,Quirky,White Smoke,Weed,Seth | M,30863,Bacub,Beehive City
2,Wastenaut,Modest,Battle Armor,Mental Herb,Hazel | M,22051,Polossus,Outcast Island
3,Flowre,Jolly,Levitate,Masta Ball,Bideo | M,1831,Knogoat,Esfores City
4,Praunch,Naïve,Swift Swim,Salac Berry,Squatz | M,16402,Gutsifly,Gadech City

In [42]:
# Magic
location_index = trades.shape[1]-1
item_index = 0
cat = "Trades"
trades = process(trades, cat, location_index=location_index, item_index=item_index)
trades.head()

C:\Users\sever\AppData\Local\Temp/ipykernel_12164/1180023280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["List_info"] = ""
C:\Users\sever\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,Location,Cat,Desc
0,Animango City,Trades,"[[Elephas / Nature: Lax / Ability: Telepathy / Held item: - / Dresser: Gavin | M / ID: 1505\n Give: Middril], [Diobat / Nature: Rash / Ability: Regenerator / Held item: - / Dresser: Robert | M / ID: 17779\n Give: Machmona]]"
1,Beehive City,Trades,[[Bongecko / Nature: Quirky / Ability: White Smoke / Held item: Weed / Dresser: Seth | M / ID: 30863\n Give: Bacub]]
2,Checkem Island,Trades,"[[Pyongnome / Nature: Brave / Ability: Intimidate / Held item: Monster Ball / Dresser: Richard | M / ID: 49662\n Give: Fuermiga], [Gangnome / Nature: Naughty / Ability: Soundproof / Held item: Choice Specs / Dresser: Johnson | M / ID: 28801\n Give: Apartmant]]"
3,Esfores City,Trades,[[Flowre / Nature: Jolly / Ability: Levitate / Held item: Masta Ball / Dresser: Bideo | M / ID: 1831\n Give: Knogoat]]
4,Gadech City,Trades,[[Praunch / Nature: Naïve / Ability: Swift Swim / Held item: Salac Berry / Dresser: Squatz | M / ID: 16402\n Give: Gutsifly]]

# Gather

In [43]:
data = pd.DataFrame()
for i in [objects, thief, TM, HM, ground, trades]:
    data = data.append(i)
data.head()

,Location,Cat,Desc
0,Actuvit City,Find,[[Macho Brace: lifter]]
1,Animango City,Find,"[[Amulet Coin: building beside Pokémon Center, 2F, stoner], [Eviolite: Hornigiri building, 4F, neckbeard]]"
2,Beehive City,Find,"[[Rocky Helmet: Karma Sub HQ's exit], [Lax Incense: inebriated man]]"
3,Blacksmith Manor,Find,[[Choice Specs: post-game]]
4,Catalina Range,Find,"[[Razor Claw: route master], [Scope Lens: route master]]"

In [44]:
# Sort data by locations and category of objects to get constant output
data = data.sort_values(['Location','Cat'],ascending = True)
data.head()

,Location,Cat,Desc
0,Actuvit City,Find,[[Macho Brace: lifter]]
0,Actuvit City,Find,"[[B: ['8', '9'], Super Potion], [B: ['8', '2'], HP Up], [B: ['2', '3'], Dive Ball], [H: ['16', '25'], Rare Candy]]"
0,Actuvit City,TM/HM,"[[TM08: Bulk Up, lifter in western house]]"
1,Actuvit Gym,TM/HM,"[[TM03: Water Pulse, Tumblrita]]"
1,Admin Woods,Find,"[[B: ['63', '29'], Rare Candy], [B: ['16', '31'], HP Up], [B: ['81', '5'], Dusk Ball], [B: ['87', '28'], PP Up], [B: ['72', '25'], Max Potion], [B: ['88', '46'], Moon Stone], [B: ['40', '14'], Energy Root], [B: ['2', '7'], Iron], [B: ['16', '10'], HP Up], [H: ['77', '41'], Yellow Shard], [H: ['6', '17'], Big Mushroom]]"

In [45]:
# Excel exporting
data.to_excel("../All_objects.xlsx")

In [46]:
# Text file exporting. Enables clean comprehension of data
loca = ""
cat = ""
with open('../All_objects.txt', 'w') as fp:
    for i in range(data.shape[0]):
        if str(data.iloc[i, 0]) != loca:
            loca = str(data.iloc[i, 0])
            cat = ""
            if i > 0 : print("\n", file=fp)
            print("---------- "+loca+" ---------", file=fp)
        if str(data.iloc[i, 1]) != cat:
            cat = str(data.iloc[i, 1])
            print("\n"+cat+":", file=fp)  
        for item in data.iloc[i, 2]:
            item = item[1:-1]
            if item[0:2] == 'B:': item = item.split(', ')[-1].strip()
            if item[0:2] == 'H:': item = 'Hidden: ' + ", ".join(list(map(str.strip,item[3:].split(",")))) 
            print(". "+item, file=fp)

# Trainers

In [47]:
fr = open('Data/trainers.txt')
add = False
s = []
level_cap = 0
with open('../Gym Leaders.txt','w') as fp:
    add = False
    for line in fr:
        if 'Leader' in line: 
            add = True
            s.append(f'------ {line[:-1]} ------\n')
        if add:
            if 'Leader' not in line: s.append(line[:-1])
            if 'Level' in line :
                level = int(line.split(":")[1].strip())
                if level >= level_cap : level_cap = level
            if '===' in line:
                s.insert(1, f"Level cap : {level_cap}\n")
                for line_ in s:
                    print(line_, file=fp)
                print("\n", file=fp)
                add = False
                level_cap = 0
                s = []